<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>just blog</title>
    <link rel="stylesheet" href="add.css">
</head>

<body>
    <div class="wrapper">
        <%- include('./partials/menu.ejs') %>
            <div class="main">
                <h1>Создать пост</h1>
                <form id="form-post-add">
                    <div class="form-info">
                        <label>Заголовок поста
                            <input type="text" name="title">
                        </label>
                        <label>Автор
                            <input type="text" name="author">
                        </label>
                    </div>
                    <div class="form-text">
                        <label>Текст поста <br>
                            <textarea name="text"></textarea>
                        </label>
                    </div>
                    <div class="form-button">
                        <input type="submit" value="Создать">
                    </div>
                </form>
            </div>
    </div>
</body>

</html>