* {
    color: #FFF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
html,
body {
    height: 100%;
}
body {
    background: rgb(72, 26, 26);
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
nav {
    position: fixed;
    top: 0;
    background: black;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 35px;
}
ul {
    display: flex;
}
li {
    font-size: 35px;
}
li:not(:last-child) {
    margin-right: 35px;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 55px;
    text-align: center;
}
form {
    font-size: 30px;
    background: black;
    padding: 10px;
}
.form-info {
    margin-bottom: 10px;
}
input {
    font-size: 30px;
    padding: 5px;
    background: rgb(21, 103, 125);
    border: none;
    outline: none;
    width: 220px;
}
.form-text {
    text-align: center;
}
textarea {
    width: 100%;
    background: rgb(129, 37, 37);
    height: 400px;
    outline: none;
    border: none;
    font-size: 22px;
    padding: 10px;
}
.form-button {
    text-align: center;
}
.form-button>input {
    cursor: pointer;
}