<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>just blog</title>
    <link rel="stylesheet" href="styles/contact.css">
</head>

<body>
    <div class="wrapper">
        <%- include('./partials/menu.ejs')%>
            <h1>Контакты:</h1>
            <ul>
                <% if (contacts.length) { %>
                    <% contacts.forEach(({name, link})=> {%>
                        <li>
                            <a href="<%= link %>">
                                <%= name %>
                            </a>
                        </li>
                        <% }) %>
                            <% } %>
            </ul>
    </div>
</body>

</html>