<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/post.css">
</head>
<body>
    <div class="wrapper">
        <div class="main">
            <h1>это пост</h1>
            <h1>но в этой страничке вирус поэтому лов error</h1>
        </div>
    </div>
</body>
</html>