<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post</title>
    <link rel="stylesheet" href="styles/post.css">
</head>

<body>
    
    <div class="wrapper">
        <%- include('./partials/menu.ejs') %>
            <h1>Все посты:</h1>
            <article>
                <div class="info">
                    <span class="date">01.01.2000</span>
                    <span class="author">J.</span>
                </div>
                <h2>Название поста</h2>
                <p>khkbkhbdh fdhjgfdvhb kshdhbs sj hkhhbaskyhvdisuhdfhvh dkshhs dv vkcxjhfdbskdv bsdhfbvksjdhf bvsdhfhbbsdf bhkdsdf bdsvbfhj dsd vbfhjdsd vbhjsd vbhj svfdbhjk svbfhjkds vbfhjkda svfdbhjkevf gyk</p>
                <ul class="reactions">
                    <li class="likes">
                        <span>0</span>
                        <i class="fa-solid fa-thumbs-up"></i>
                    </li>
                    <li class="dislikes">
                        <span>0</span>
                        <i class="fa-solid fa-thumbs-down"></i>
                    </li>
                    <li class="comments">
                        <span>0</span>
                        <i class="fa-solid fa-comment"></i>
                    </li>
                </ul>
            </article>

    </div>
    <script src="https://kit.fontawesome.com/1d10fc3313.js" crossorigin="anonymous"></script>
</body>

</html>